.clientadd input {
  display: block; }

.clientlist {
  background: #fafafa;
  width: 100vw;
  height: 100%;
  overflow: scroll;
  padding-top: 10px; }
  .clientlist .letter {
    color: #ff3253;
    display: block;
    padding: 5px 10px; }
  .clientlist .clientcard {
    background: #ffffff;
    margin: 10px 10px;
    padding: 5px 5px;
    box-shadow: 0px 0px 10px #ccc;
    height: 50px; }
    .clientlist .clientcard .avatar {
      height: 40px;
      width: 40px;
      overflow: hidden;
      position: relative;
      display: inline-block;
      border-radius: 50%; }
      .clientlist .clientcard .avatar img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100%; }
    .clientlist .clientcard span {
      display: inline-block;
      line-height: 40px;
      vertical-align: top;
      font-size: 18.5px;
      color: #333; }
      .clientlist .clientcard span.firstname {
        margin-left: 10px;
        font-family: hb-light; }
      .clientlist .clientcard span.lastname {
        font-family: hb-regular; }

.clientprofile {
  background: #F5F5F5;
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 100vw;
  top: 0;
  overflow-y: scroll; }
  .clientprofile .container {
    position: relative;
    margin: 10px;
    width: calc(100% - 20px);
    background: #FFF;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px #CCC; }
  .clientprofile .contactbox {
    padding: 10px 10px; }
    .clientprofile .contactbox .coverphoto {
      height: 80px;
      background: url("../img/profilebg.png") no-repeat center;
      background-size: cover;
      border-radius: 5px;
      margin-bottom: 40px; }
    .clientprofile .contactbox .avatarcontainer {
      height: 80px;
      width: 80px;
      position: absolute;
      top: 45px;
      left: 50%;
      transform: translateX(-50%); }
      .clientprofile .contactbox .avatarcontainer .avatarborder {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin: auto;
        border: 3px solid #fff;
        border-radius: 50%; }
        .clientprofile .contactbox .avatarcontainer .avatarborder img {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 100%; }
    .clientprofile .contactbox .namecontainer {
      overflow: hidden;
      display: inline-block;
      font-size: 20px; }
      .clientprofile .contactbox .namecontainer .firstname {
        float: left;
        margin-right: 2px; }
      .clientprofile .contactbox .namecontainer .lastname {
        float: right;
        margin-left: 2px; }
    .clientprofile .contactbox .email {
      display: block;
      margin: 20px 0 25px 40px;
      position: relative;
      text-align: left;
      font-family: hb-light; }
      .clientprofile .contactbox .email:before {
        position: absolute;
        top: -10px;
        left: 0px;
        content: "Email";
        color: #999;
        font-size: 10px; }
      .clientprofile .contactbox .email:after {
        content: " ";
        background: url("../img/email.png") no-repeat center;
        background-size: cover;
        height: 10px;
        width: 15px;
        position: absolute;
        top: 6px;
        left: -30px; }
    .clientprofile .contactbox .phone {
      display: block;
      margin: 25px 0 20px 40px;
      position: relative;
      text-align: left;
      font-family: hb-light; }
      .clientprofile .contactbox .phone:before {
        position: absolute;
        top: -12px;
        left: 0px;
        content: "Phone";
        color: #999;
        font-size: 10px; }
      .clientprofile .contactbox .phone:after {
        content: " ";
        background: url("../img/phone.png") no-repeat center;
        background-size: cover;
        height: 15px;
        width: 15px;
        position: absolute;
        top: 2px;
        left: -30px; }
  .clientprofile .photosbox {
    padding: 10px 10px; }
    .clientprofile .photosbox .title {
      width: 100%;
      text-align: left;
      padding-left: 20px;
      margin-bottom: 7px;
      position: relative; }
      .clientprofile .photosbox .title:before {
        content: " ";
        background: url("../img/camera-icon.png") no-repeat center;
        background-size: cover;
        height: 12px;
        width: 15px;
        position: absolute;
        top: 4px;
        left: 0px; }
    .clientprofile .photosbox .mainphoto {
      width: 66%;
      float: left;
      height: 300px;
      overflow: hidden;
      position: relative; }
      .clientprofile .photosbox .mainphoto img {
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%); }
    .clientprofile .photosbox .sidephotos {
      width: 33%;
      float: right;
      height: 300px; }
      .clientprofile .photosbox .sidephotos .thirdheight {
        height: 96.5px;
        width: 100%;
        overflow: hidden;
        position: relative; }
        .clientprofile .photosbox .sidephotos .thirdheight img {
          height: 100%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%); }
        .clientprofile .photosbox .sidephotos .thirdheight.leftphoto {
          margin-bottom: 5px; }
        .clientprofile .photosbox .sidephotos .thirdheight.backphoto {
          margin-top: 5px;
          margin-bottom: 5px; }
        .clientprofile .photosbox .sidephotos .thirdheight.rightphoto {
          margin-top: 5px; }
  .clientprofile .notesbox {
    padding: 10px; }
    .clientprofile .notesbox .title {
      width: 100%;
      text-align: left;
      padding-left: 20px;
      margin-bottom: 7px;
      position: relative; }
      .clientprofile .notesbox .title:before {
        content: " ";
        background: url("../img/notes.png") no-repeat center;
        background-size: cover;
        height: 13px;
        width: 13px;
        position: absolute;
        top: 4px;
        left: 0px; }
    .clientprofile .notesbox .notes {
      height: 100px;
      width: 100%;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 5px; }

header {
  height: 50px;
  width: 100%;
  background: #FFFFFF;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 10px #ccc;
  z-index: 100; }
  header .headerlogo {
    width: 119px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

main {
  position: absolute;
  top: 50px;
  overflow-y: hidden;
  height: calc(100vh - 50px); }

.modal {
  text-align: center;
  padding: 0 !important; }

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }
