@charset "UTF-8";
/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: June 6th 2017
* Author: Charlie Hay
*
* CLIENT ADD STYLES
/******************************************/
.clientaddbutton {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #ff3253;
  border-radius: 50%; }
  .clientaddbutton a {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.clientaddmodal {
  text-align: center; }
  .clientaddmodal .clientaddform {
    width: 100%; }
    .clientaddmodal .clientaddform input {
      border: none;
      border-bottom: 1px solid #ccc;
      font-size: 15px;
      width: 100%;
      margin-bottom: 10px; }
    .clientaddmodal .clientaddform textarea {
      border: none;
      font-size: 15px;
      width: 100%;
      border: 1px solid #CCC;
      height: 100px;
      resize: none;
      padding: 5px; }
  .clientaddmodal .savingclient {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    height: 100%;
    width: 100%;
    display: none; }
    .clientaddmodal .savingclient img {
      position: absolute;
      height: 15px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .clientaddmodal .clientaddsubmit {
    padding: 7px 20px;
    width: auto !important;
    border-radius: 5px;
    border: none;
    background: #ff3253;
    color: #fff;
    font-size: 15px; }
  .clientaddmodal .closemodal {
    background: #fff;
    border: 1px solid #ccc; }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: June 6th 2017
* Author: Charlie Hay
*
* CLIENT BASE STYLES
/******************************************/
main {
  position: absolute;
  top: 50px;
  overflow-y: hidden;
  overflow-x: hidden;
  height: calc(100vh - 50px); }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: June 6th 2017
* Author: Charlie Hay
*
* CLIENT DELETE STYLES
/******************************************/
.deleteModal .confirmDelete {
  background: #ff3253;
  border: none;
  color: #fff; }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: June 6th 2017
* Author: Charlie Hay
*
* CLIENT LIST STYLES
/******************************************/
.clientlist {
  background: #fafafa;
  width: 100vw;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding-top: 10px; }
  .clientlist .empty {
    font-family: hb-black;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #777; }
  .clientlist .letter {
    color: #ff3253;
    display: block;
    padding: 5px 10px;
    opacity: 1; }
  .clientlist .clientcard {
    background: #ffffff;
    margin: 10px 10px;
    padding: 5px 5px;
    box-shadow: 0px 0px 10px #ccc;
    height: 50px; }
    .clientlist .clientcard:last-child {
      margin-bottom: 150px; }
    .clientlist .clientcard .avatar {
      height: 40px;
      width: 40px;
      overflow: hidden;
      position: relative;
      display: inline-block;
      border-radius: 50%; }
      .clientlist .clientcard .avatar img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto; }
    .clientlist .clientcard span {
      display: inline-block;
      line-height: 40px;
      vertical-align: top;
      font-size: 18.5px;
      color: #333; }
      .clientlist .clientcard span.firstname {
        margin: 0px 5px 0px 10px;
        font-family: hb-regular; }
      .clientlist .clientcard span.lastname {
        font-family: hb-regular; }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: June 6th 2017
* Author: Charlie Hay
*
* CLIENT MENU STYLES 
/******************************************/
.clientmenu {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 50;
  display: none; }
  .clientmenu .menuoverlay {
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 51; }
  .clientmenu .menuitems {
    overflow: hidden;
    width: 100%;
    background: #ff3253;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    box-shadow: 0px 0px 10px #666;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 52; }
    .clientmenu .menuitems li {
      list-style: none;
      border-top: 1px solid #db3f59;
      border-left: 1px solid #891c2e;
      border-right: 1px solid #891c2e;
      border-bottom: 1px solid #891c2e;
      padding: 10px;
      color: #fff;
      font-size: 15px;
      font-family: hb-bold; }
      .clientmenu .menuitems li:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: June 6th 2017
* Author: Charlie Hay
*
* CLIENT MODAL STYLES
/******************************************/
.modal {
  text-align: center;
  padding: 0 !important;
  background-color: rgba(255, 255, 255, 0.7); }
  .modal .modal-body {
    position: relative; }
  .modal .modallogo {
    width: 119px;
    height: 30px;
    margin: 10px; }
  .modal.fade {
    background-color: rgba(255, 255, 255, 0.7); }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: June 6th 2017
* Author: Charlie Hay
*
* CLIENT NAV STYLES 
/******************************************/
.clientnav {
  height: 50px;
  width: 100%;
  background: #FFFFFF;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 10px #666;
  z-index: 100; }
  .clientnav .hamburger {
    float: left;
    border: none;
    background: transparent;
    padding: 12px 5px 8px 10px; }
    .clientnav .hamburger img {
      height: 30px;
      width: 30px;
      margin: 0;
      image-rendering: optimizeSpeed;
      /* STOP SMOOTHING, GIVE ME SPEED  */
      image-rendering: -moz-crisp-edges;
      /* Firefox                        */
      image-rendering: -o-crisp-edges;
      /* Opera                          */
      image-rendering: -webkit-optimize-contrast;
      /* Chrome (and eventually Safari) */
      image-rendering: pixelated;
      /* Chrome */
      image-rendering: optimize-contrast;
      /* CSS3 Proposed                  */
      -ms-interpolation-mode: nearest-neighbor;
      /* IE8+    */ }
  .clientnav .navlogo {
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 100; }
  .clientnav .navsearch {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 0px 10px 10px; }
    .clientnav .navsearch img {
      height: 30px;
      width: 30px; }
  .clientnav .searchfield {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    padding: 5px 10px;
    font-size: 17px;
    color: #ff3253;
    width: 20px;
    background: transparent;
    display: block; }
    .clientnav .searchfield.open {
      width: calc(100vw - 50px);
      padding-right: 70px; }
  .clientnav .exitprofile, .clientnav .cancelsearch {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ff3253;
    font-size: 17px;
    display: none;
    z-index: 100; }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: June 6th 2017
* Author: Charlie Hay
*
* CLIENT PROFILE STYLES
/******************************************/
.clientprofile {
  background: #F5F5F5;
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 100vw;
  top: 0;
  overflow-y: scroll;
  z-index: 25;
  -webkit-overflow-scrolling: touch; }
  .clientprofile .container {
    position: relative;
    margin: 10px auto;
    width: calc(100% - 20px);
    max-width: 600px;
    background: #FFF;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px #CCC; }
  .clientprofile .contactbox {
    padding: 10px 10px; }
    .clientprofile .contactbox .coverphoto {
      height: 80px;
      background: url("../img/profilebg.png") no-repeat center;
      background-size: cover;
      border-radius: 5px;
      margin-bottom: 40px; }
    .clientprofile .contactbox .avatarcontainer {
      height: 80px;
      width: 80px;
      position: absolute;
      top: 45px;
      left: 50%;
      transform: translateX(-50%); }
      .clientprofile .contactbox .avatarcontainer .avatarborder {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin: auto;
        border: 3px solid #fff;
        border-radius: 50%; }
        .clientprofile .contactbox .avatarcontainer .avatarborder img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: auto; }
    .clientprofile .contactbox .namecontainer {
      overflow: hidden;
      display: inline-block;
      font-size: 20px; }
      .clientprofile .contactbox .namecontainer .firstname {
        float: left;
        margin-right: 2px; }
      .clientprofile .contactbox .namecontainer .lastname {
        float: right;
        margin-left: 2px; }
    .clientprofile .contactbox .email {
      display: block;
      margin: 20px 0 25px 40px;
      position: relative;
      text-align: left;
      font-family: hb-light; }
      .clientprofile .contactbox .email:before {
        position: absolute;
        top: -10px;
        left: 0px;
        content: "Email";
        color: #999;
        font-size: 10px; }
      .clientprofile .contactbox .email:after {
        content: " ";
        background: url("../img/email.png") no-repeat center;
        background-size: cover;
        height: 10px;
        width: 15px;
        position: absolute;
        top: 6px;
        left: -30px; }
    .clientprofile .contactbox .phone {
      display: block;
      margin: 25px 0 20px 40px;
      position: relative;
      text-align: left;
      font-family: hb-light; }
      .clientprofile .contactbox .phone:before {
        position: absolute;
        top: -12px;
        left: 0px;
        content: "Phone";
        color: #999;
        font-size: 10px; }
      .clientprofile .contactbox .phone:after {
        content: " ";
        background: url("../img/phone.png") no-repeat center;
        background-size: cover;
        height: 15px;
        width: 15px;
        position: absolute;
        top: 2px;
        left: -30px; }
  .clientprofile .photosbox {
    padding: 10px 10px; }
    .clientprofile .photosbox .title {
      width: 100%;
      text-align: left;
      padding-left: 20px;
      margin-bottom: 7px;
      position: relative; }
      .clientprofile .photosbox .title:before {
        content: " ";
        background: url("../img/camera-icon.png") no-repeat center;
        background-size: cover;
        height: 12px;
        width: 15px;
        position: absolute;
        top: 4px;
        left: 0px; }
    .clientprofile .photosbox .mainphoto {
      height: 250px;
      width: 150px;
      display: block;
      margin: auto;
      overflow: hidden;
      position: relative; }
      .clientprofile .photosbox .mainphoto img {
        height: 100%;
        width: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%); }
  .clientprofile .notesbox {
    padding: 10px; }
    .clientprofile .notesbox .title {
      width: 100%;
      text-align: left;
      padding-left: 20px;
      margin-bottom: 7px;
      position: relative; }
      .clientprofile .notesbox .title:before {
        content: " ";
        background: url("../img/notes.png") no-repeat center;
        background-size: cover;
        height: 13px;
        width: 13px;
        position: absolute;
        top: 4px;
        left: 0px; }
    .clientprofile .notesbox .notes {
      height: 100px;
      width: 100%;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 5px;
      color: #000;
      overflow: scroll; }
  .clientprofile .optionsbox button {
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin: 20px 0px;
    border-radius: 5px; }
  .clientprofile .optionsbox .deleteclient {
    background: #ff3253;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-family: hb-bold; }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: June 6th 2017
* Author: Charlie Hay
*
* CLIENT REPORT STYLES
/******************************************/
.reportmodal textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  height: 300px;
  width: 90%;
  resize: none; }

.reportmodal .confirmreport {
  background: #ff2353;
  color: #fff; }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* PHOTO UPLOAD STYLES 
/******************************************/
.photowidget {
  display: block;
  position: relative; }
  .photowidget .photoinput {
    display: none; }
  .photowidget .photobox {
    height: 150px;
    width: 100px;
    background: url("/app/img/photoholder.png") no-repeat center;
    background-size: 100%;
    display: block;
    margin: 10px auto;
    position: relative; }
    .photowidget .photobox .default {
      height: 100%;
      width: 100%;
      border: none; }
    .photowidget .photobox .rotate {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      position: absolute;
      top: 24px;
      left: -26px;
      width: 150px;
      height: 100px;
      border: none; }
