@charset "UTF-8";
/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* ADD CLIENT BUTTON STYLES
/******************************************/
.clientadd {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #ff3253;
  border-radius: 50%; }
  .clientadd a {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* CLIENT LIST STYLES
/******************************************/
.clientlist {
  background: #fafafa;
  width: 100vw;
  height: 100%;
  overflow: scroll;
  padding-top: 10px; }
  .clientlist .letter {
    color: #ff3253;
    display: block;
    padding: 5px 10px; }
  .clientlist .clientcard {
    background: #ffffff;
    margin: 10px 10px;
    padding: 5px 5px;
    box-shadow: 0px 0px 10px #ccc;
    height: 50px; }
    .clientlist .clientcard .avatar {
      height: 40px;
      width: 40px;
      overflow: hidden;
      position: relative;
      display: inline-block;
      border-radius: 50%; }
      .clientlist .clientcard .avatar img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100%; }
    .clientlist .clientcard span {
      display: inline-block;
      line-height: 40px;
      vertical-align: top;
      font-size: 18.5px;
      color: #333; }
      .clientlist .clientcard span.firstname {
        margin-left: 10px;
        font-family: hb-regular; }
      .clientlist .clientcard span.lastname {
        font-family: hb-regular; }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* CLIENT PROFILE STYLES
/******************************************/
.clientprofile {
  background: #F5F5F5;
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 100vw;
  top: 0;
  overflow-y: scroll;
  z-index: 75; }
  .clientprofile .container {
    position: relative;
    margin: 10px;
    width: calc(100% - 20px);
    background: #FFF;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px #CCC; }
  .clientprofile .contactbox {
    padding: 10px 10px; }
    .clientprofile .contactbox .coverphoto {
      height: 80px;
      background: url("../img/profilebg.png") no-repeat center;
      background-size: cover;
      border-radius: 5px;
      margin-bottom: 40px; }
    .clientprofile .contactbox .avatarcontainer {
      height: 80px;
      width: 80px;
      position: absolute;
      top: 45px;
      left: 50%;
      transform: translateX(-50%); }
      .clientprofile .contactbox .avatarcontainer .avatarborder {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin: auto;
        border: 3px solid #fff;
        border-radius: 50%; }
        .clientprofile .contactbox .avatarcontainer .avatarborder img {
          position: absolute;
          top: 0%;
          left: 50%;
          transform: translateX(-50%);
          height: 100%; }
    .clientprofile .contactbox .namecontainer {
      overflow: hidden;
      display: inline-block;
      font-size: 20px; }
      .clientprofile .contactbox .namecontainer .firstname {
        float: left;
        margin-right: 2px; }
      .clientprofile .contactbox .namecontainer .lastname {
        float: right;
        margin-left: 2px; }
    .clientprofile .contactbox .email {
      display: block;
      margin: 20px 0 25px 40px;
      position: relative;
      text-align: left;
      font-family: hb-light; }
      .clientprofile .contactbox .email:before {
        position: absolute;
        top: -10px;
        left: 0px;
        content: "Email";
        color: #999;
        font-size: 10px; }
      .clientprofile .contactbox .email:after {
        content: " ";
        background: url("../img/email.png") no-repeat center;
        background-size: cover;
        height: 10px;
        width: 15px;
        position: absolute;
        top: 6px;
        left: -30px; }
    .clientprofile .contactbox .phone {
      display: block;
      margin: 25px 0 20px 40px;
      position: relative;
      text-align: left;
      font-family: hb-light; }
      .clientprofile .contactbox .phone:before {
        position: absolute;
        top: -12px;
        left: 0px;
        content: "Phone";
        color: #999;
        font-size: 10px; }
      .clientprofile .contactbox .phone:after {
        content: " ";
        background: url("../img/phone.png") no-repeat center;
        background-size: cover;
        height: 15px;
        width: 15px;
        position: absolute;
        top: 2px;
        left: -30px; }
  .clientprofile .photosbox {
    padding: 10px 10px; }
    .clientprofile .photosbox .title {
      width: 100%;
      text-align: left;
      padding-left: 20px;
      margin-bottom: 7px;
      position: relative; }
      .clientprofile .photosbox .title:before {
        content: " ";
        background: url("../img/camera-icon.png") no-repeat center;
        background-size: cover;
        height: 12px;
        width: 15px;
        position: absolute;
        top: 4px;
        left: 0px; }
    .clientprofile .photosbox .mainphoto {
      width: 66%;
      float: left;
      height: 300px;
      overflow: hidden;
      position: relative; }
      .clientprofile .photosbox .mainphoto img {
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%); }
    .clientprofile .photosbox .sidephotos {
      width: 33%;
      float: right;
      height: 300px; }
      .clientprofile .photosbox .sidephotos .thirdheight {
        height: 96.5px;
        width: 100%;
        overflow: hidden;
        position: relative; }
        .clientprofile .photosbox .sidephotos .thirdheight img {
          height: 100%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%); }
        .clientprofile .photosbox .sidephotos .thirdheight.leftphoto {
          margin-bottom: 5px; }
        .clientprofile .photosbox .sidephotos .thirdheight.backphoto {
          margin-top: 5px;
          margin-bottom: 5px; }
        .clientprofile .photosbox .sidephotos .thirdheight.rightphoto {
          margin-top: 5px; }
  .clientprofile .notesbox {
    padding: 10px; }
    .clientprofile .notesbox .title {
      width: 100%;
      text-align: left;
      padding-left: 20px;
      margin-bottom: 7px;
      position: relative; }
      .clientprofile .notesbox .title:before {
        content: " ";
        background: url("../img/notes.png") no-repeat center;
        background-size: cover;
        height: 13px;
        width: 13px;
        position: absolute;
        top: 4px;
        left: 0px; }
    .clientprofile .notesbox .notes {
      height: 100px;
      width: 100%;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 5px;
      color: #ff3253; }
  .clientprofile .optionsbox button {
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin: 20px 0px;
    border-radius: 5px; }
  .clientprofile .optionsbox .editclient {
    background: #fff;
    border: 1px solid #000;
    color: #000; }
  .clientprofile .optionsbox .deleteclient {
    background: #ff3253;
    border: none;
    color: #fff; }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* MAIN STYLES
/******************************************/
main {
  position: absolute;
  top: 50px;
  overflow-y: hidden;
  overflow-x: hidden;
  height: calc(100vh - 50px); }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* MENU COMPONENT STYLES 
/******************************************/
menu {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 50;
  display: none; }
  menu .menuoverlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%; }
  menu ul {
    overflow: hidden;
    width: 100%;
    background: #ff3253;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: calc(100vh - 50px);
    left: 0;
    text-align: center;
    box-shadow: 0px 0px 10px #666; }
    menu ul li {
      list-style: none;
      border-top: 1px solid #db3f59;
      border-left: 1px solid #891c2e;
      border-right: 1px solid #891c2e;
      border-bottom: 1px solid #891c2e;
      padding: 10px;
      color: #fff;
      font-size: 16px;
      font-family: hb-black; }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* MODAL COMPONENT STYLES
/******************************************/
.modal {
  text-align: center;
  padding: 0 !important; }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* NAV COMPONENT STYLES 
/******************************************/
nav {
  height: 50px;
  width: 100%;
  background: #FFFFFF;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 10px #666;
  z-index: 100; }
  nav .navmenu {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #ff3253;
    font-size: 20px; }
  nav .navlogo {
    width: 119px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  nav .navsearch {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); }
  nav .exitprofile {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ff3253;
    font-size: 17px;
    display: none; }
