@charset "UTF-8";
.navmenu nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 5px #000;
  z-index: 100; }
  .navmenu nav .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .navmenu nav .logo img {
      height: 30px;
      margin: 10px 0px 10px 0px; }
  .navmenu nav .hamburger {
    float: left;
    border: none;
    background: transparent;
    padding: 12px 5px 8px 10px; }
    .navmenu nav .hamburger img {
      height: 30px;
      width: 30px;
      margin: 0;
      image-rendering: optimizeSpeed;
      /* STOP SMOOTHING, GIVE ME SPEED  */
      image-rendering: -moz-crisp-edges;
      /* Firefox                        */
      image-rendering: -o-crisp-edges;
      /* Opera                          */
      image-rendering: -webkit-optimize-contrast;
      /* Chrome (and eventually Safari) */
      image-rendering: pixelated;
      /* Chrome */
      image-rendering: optimize-contrast;
      /* CSS3 Proposed                  */
      -ms-interpolation-mode: nearest-neighbor;
      /* IE8+    */ }

.navmenu menu {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100vh-50px);
  background: transparent;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 99;
  border-bottom: 2px solid #ff2353;
  box-shadow: 0 0 5px #000; }
  .navmenu menu .underlay {
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.6); }
  .navmenu menu ul {
    padding: 0;
    margin: 0px;
    border-bottom: 2px solid #fff; }
    .navmenu menu ul li {
      border-top: 1px solid #999;
      list-style: none;
      text-align: center;
      display: block;
      line-height: 20px;
      background: white; }
      .navmenu menu ul li:last-child {
        background: #ff2353; }
        .navmenu menu ul li:last-child a {
          color: #fff; }
      .navmenu menu ul li a {
        padding: 15px 0;
        font-size: 15px;
        font-family: hb-bold;
        color: #ff2353;
        display: block; }
        .navmenu menu ul li a:hover {
          color: #999;
          cursor: pointer; }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* LOGIN PAGE STYLES.
/******************************************/
body {
  background: url("../img/hairbrain-bg.gif") no-repeat center;
  height: 100vh;
  background-size: cover;
  min-height: 400px;
  position: relative; }

.navmenu nav {
  background: transparent !important;
  box-shadow: none !important; }
  .navmenu nav .logo {
    display: none; }

.navmenu.open nav {
  background: #FFF !important;
  box-shadow: 0 0 5px #000 !important; }
  .navmenu.open nav .logo {
    display: block; }

.loginform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  max-width: 400px; }
  .loginform img {
    margin: 0 0 20px 0;
    width: 100%; }
  .loginform input {
    box-sizing: border-box;
    width: calc(100% - 20px);
    border: 2px solid #ff2353;
    border-radius: 25px;
    font-size: 15px;
    padding: 7px 10px;
    margin: 5px;
    text-align: center;
    -webkit-appearance: none;
    font-family: hb-bold; }
  .loginform .login {
    box-sizing: border-box;
    width: calc(80% - 20px);
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 7px 10px;
    background: #ff2353;
    margin: 10px auto;
    position: relative;
    font-size: 15px;
    color: #fff; }
  .loginform .failedlogin {
    opacity: 0; }

.modal-backdrop {
  z-index: 19; }

.registermodal {
  z-index: 20; }
  .registermodal .modal-content {
    height: calc(100vh - 20px);
    overflow: scroll;
    position: relative; }
    .registermodal .modal-content .modal-header {
      text-align: center; }
      .registermodal .modal-content .modal-header img {
        width: 150px;
        height: 30px; }
    .registermodal .modal-content .modal-body {
      margin-top: 10px; }
      .registermodal .modal-content .modal-body input {
        border: none;
        border-bottom: 1px solid #ccc;
        font-size: 15px;
        width: 100%;
        margin-bottom: 10px; }
        .registermodal .modal-content .modal-body input[name="avatar"] {
          display: none; }
      .registermodal .modal-content .modal-body .thumbnail-container {
        height: 100px;
        width: 100px;
        background: url("/app/img/avatar.png") no-repeat center;
        background-size: cover;
        margin: auto;
        position: relative;
        border-radius: 10px;
        border: none;
        margin-bottom: 20px; }
        .registermodal .modal-content .modal-body .thumbnail-container .default {
          height: 100%;
          width: 100%;
          border: none; }
        .registermodal .modal-content .modal-body .thumbnail-container .rotate {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100px;
          height: 100px;
          border: none; }
        .registermodal .modal-content .modal-body .thumbnail-container #avatar {
          background: transparent; }
      .registermodal .modal-content .modal-body .pac-container {
        z-index: 2051 !important; }
    .registermodal .modal-content .modal-footer .confirmregister {
      background: #ff2353;
      border: 1px solid #fff;
      color: #fff; }
    .registermodal .modal-content .modal-footer .disclaimer {
      font-size: .8em;
      color: #ccc;
      margin-top: 10px; }
