@charset "UTF-8";
/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* LOGIN PAGE STYLES.
/******************************************/
body {
  background: url("../img/hairbrain-bg.gif") no-repeat center;
  height: 100vh;
  background-size: cover; }

.loginform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  max-width: 400px; }
  .loginform img {
    margin: 0 0 20px 0;
    width: 100%; }
  .loginform input {
    box-sizing: border-box;
    width: calc(100% - 20px);
    border: 2px solid #ff3253;
    border-radius: 25px;
    font-size: 20px;
    padding: 5px 10px;
    margin: 5px;
    text-align: center; }
  .loginform .login {
    box-sizing: border-box;
    width: calc(80% - 20px);
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 5px 10px;
    background: #ff3253;
    margin: 20px auto;
    position: relative;
    font-size: 20px;
    color: #fff; }
  .loginform .failedlogin {
    opacity: 0; }

.modal-backdrop {
  z-index: 19; }

.registermodal {
  z-index: 20; }
  .registermodal .modal-header {
    text-align: center; }
    .registermodal .modal-header img {
      width: 119px;
      height: 30px; }
  .registermodal .modal-body input {
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px; }
    .registermodal .modal-body input[name="avatar"] {
      display: none; }
  .registermodal .modal-body .thumbnail-container {
    height: 100px;
    width: 100px;
    background: url("/app/img/avatar.png") no-repeat center;
    background-size: cover;
    margin: auto;
    position: relative; }
    .registermodal .modal-body .thumbnail-container .default {
      height: 100%;
      width: 100%; }
    .registermodal .modal-body .thumbnail-container .rotate {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100px;
      height: 100px; }
    .registermodal .modal-body .thumbnail-container #avatar {
      background: transparent; }
  .registermodal .modal-body .pac-container {
    z-index: 2051 !important; }
  .registermodal .modal-footer .confirmregister {
    background: #ff2353;
    border: 1px solid #fff;
    color: #fff; }
  .registermodal .modal-footer .disclaimer {
    font-size: .8em;
    color: #ccc;
    margin-top: 10px; }

.registernow {
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  width: 50px; }
