@charset "UTF-8";
/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* LOGIN PAGE STYLES.
/******************************************/
body {
  background: url("../img/hairbrain-bg.gif") no-repeat center;
  height: 100vh;
  background-size: cover; }

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center; }
  form img {
    margin: 0 0 20px 0;
    width: 100%; }
  form input {
    box-sizing: border-box;
    width: calc(100% - 20px);
    border: 2px solid #ff3253;
    border-radius: 25px;
    font-size: 20px;
    padding: 5px 10px;
    margin: 5px;
    text-align: center; }
    form input:focus {
      outline: none; }
  form button {
    box-sizing: border-box;
    width: calc(80% - 20px);
    border: 2px solid #fff;
    border-radius: 25px;
    font-size: 20px;
    color: #fff;
    padding: 5px 10px;
    background: #ff3253;
    margin: 20px auto; }

a {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 15px; }
