@charset "UTF-8";
/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: June 6th 2017
* Author: Charlie Hay
*
* NAV MENU STYLES 
/******************************************/
.navmenu nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 5px #000;
  z-index: 100; }
  .navmenu nav .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .navmenu nav .logo img {
      height: 30px;
      margin: 10px 0px 10px 0px; }
  .navmenu nav .hamburger {
    float: left;
    border: none;
    background: transparent;
    padding: 12px 5px 8px 20px; }
    .navmenu nav .hamburger img {
      height: 30px;
      width: 30px;
      margin: 0;
      image-rendering: optimizeSpeed;
      /* STOP SMOOTHING, GIVE ME SPEED  */
      image-rendering: -moz-crisp-edges;
      /* Firefox                        */
      image-rendering: -o-crisp-edges;
      /* Opera                          */
      image-rendering: -webkit-optimize-contrast;
      /* Chrome (and eventually Safari) */
      image-rendering: pixelated;
      /* Chrome */
      image-rendering: optimize-contrast;
      /* CSS3 Proposed                  */
      -ms-interpolation-mode: nearest-neighbor;
      /* IE8+    */ }
  .navmenu nav .login {
    float: right;
    font-size: 15px;
    font-family: hb-black;
    padding: 17px 20px 12px 10px;
    color: #ff2353; }

.navmenu menu {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100vh-50px);
  background: transparent;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 99;
  border-bottom: 2px solid #ff2353;
  box-shadow: 0 0 5px #000; }
  .navmenu menu .underlay {
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.6); }
  .navmenu menu ul {
    padding: 0;
    margin: 0px;
    border-bottom: 2px solid #fff; }
    .navmenu menu ul li {
      border-top: 1px solid #999;
      list-style: none;
      text-align: center;
      display: block;
      line-height: 20px;
      background: white; }
      .navmenu menu ul li:last-child {
        background: #ff2353; }
        .navmenu menu ul li:last-child a {
          color: #fff; }
      .navmenu menu ul li a {
        padding: 15px 0;
        font-size: 15px;
        font-family: hb-bold;
        color: #ff2353;
        display: block; }
        .navmenu menu ul li a:hover {
          color: #999;
          cursor: pointer; }

@media (max-width: 768px) {
  .navmenu nav .hamburger {
    padding: 12px 5px 8px 10px; }
  .navmenu nav .login {
    padding: 17px 10px 12px 10px; } }

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300; }

#infowindow-content .title {
  font-weight: bold; }

#infowindow-content {
  display: none; }

#map #infowindow-content {
  display: inline; }

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto; }

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px; }

.pac-controls {
  display: inline-block;
  padding: 5px 11px; }

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300; }

#pac-input {
  position: absolute;
  top: 0;
  background-color: #fff;
  text-overflow: ellipsis;
  width: calc(100vw - 125px);
  line-height: 16px;
  font-size: 16px;
  padding: 8px 10px;
  margin-top: 10px;
  border: none;
  display: block;
  font-family: hb-light;
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 2px; }

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px; }

#target {
  width: 345px; }

.mappage {
  margin-top: 50px;
  overflow-y: hidden; }
  .mappage #map {
    height: calc(100vh - 50px);
    position: relative; }

@media (max-width: 768px) {
  .mappage {
    margin-top: 50px;
    overflow-y: hidden; }
    .mappage #map {
      height: calc(100vh - 50px); }
  .footerlinks {
    display: none; } }
