@charset "UTF-8";
/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: June 6th 2017
* Author: Charlie Hay
*
* NAV MENU STYLES 
/******************************************/
.navmenu nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 5px #000;
  z-index: 100; }
  .navmenu nav .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .navmenu nav .logo img {
      height: 30px;
      margin: 10px 0px 10px 0px; }
  .navmenu nav .hamburger {
    float: left;
    border: none;
    background: transparent;
    padding: 12px 5px 8px 20px; }
    .navmenu nav .hamburger img {
      height: 30px;
      width: 30px;
      margin: 0;
      image-rendering: optimizeSpeed;
      /* STOP SMOOTHING, GIVE ME SPEED  */
      image-rendering: -moz-crisp-edges;
      /* Firefox                        */
      image-rendering: -o-crisp-edges;
      /* Opera                          */
      image-rendering: -webkit-optimize-contrast;
      /* Chrome (and eventually Safari) */
      image-rendering: pixelated;
      /* Chrome */
      image-rendering: optimize-contrast;
      /* CSS3 Proposed                  */
      -ms-interpolation-mode: nearest-neighbor;
      /* IE8+    */ }
  .navmenu nav .login {
    float: right;
    font-size: 15px;
    font-family: hb-black;
    padding: 17px 20px 12px 10px;
    color: #ff2353; }

.navmenu menu {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100vh-50px);
  background: transparent;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 99;
  border-bottom: 2px solid #ff2353;
  box-shadow: 0 0 5px #000; }
  .navmenu menu .underlay {
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.6); }
  .navmenu menu ul {
    padding: 0;
    margin: 0px;
    border-bottom: 2px solid #fff; }
    .navmenu menu ul li {
      border-top: 1px solid #999;
      list-style: none;
      text-align: center;
      display: block;
      line-height: 20px;
      background: white; }
      .navmenu menu ul li:last-child {
        background: #ff2353; }
        .navmenu menu ul li:last-child a {
          color: #fff; }
      .navmenu menu ul li a {
        padding: 15px 0;
        font-size: 15px;
        font-family: hb-bold;
        color: #ff2353;
        display: block; }
        .navmenu menu ul li a:hover {
          color: #999;
          cursor: pointer; }

@media (max-width: 768px) {
  .navmenu nav .hamburger {
    padding: 12px 5px 8px 10px; }
  .navmenu nav .login {
    padding: 17px 10px 12px 10px; } }

.errormodal {
  text-align: center;
  padding: 0 !important;
  background-color: rgba(255, 255, 255, 0.7); }
  .errormodal .modallogo {
    width: 119px;
    height: 30px;
    margin: 10px; }
  .errormodal .modal-body {
    position: relative; }
  .errormodal .message {
    font-size: 15px; }
  .errormodal.fade {
    background-color: rgba(255, 255, 255, 0.7); }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* FOOTER LINKS STYLES 
/******************************************/
.footerlinks .group {
  display: inline-block;
  width: 33%;
  min-width: 200px;
  background: #fff;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 15px; }
  .footerlinks .group b {
    display: block;
    font-family: hb-bold;
    padding: 10px;
    font-size: 1.2em; }
  .footerlinks .group a {
    display: block;
    color: #666; }
    .footerlinks .group a:hover {
      color: #ccc; }

.footerlinks .basebar {
  padding: 0 20px;
  color: #fff;
  height: 30px;
  background: #333;
  line-height: 30px;
  font-size: 13px; }
  .footerlinks .basebar img {
    height: 30px; }

@media (max-width: 768px) {
  .footerlinks .group {
    width: 100%;
    border-top: 1px solid #ccc;
    text-align: left;
    margin-bottom: 0; }
    .footerlinks .group b:before {
      content: '>';
      font-size: .8em;
      margin: 0px 5px; }
    .footerlinks .group a {
      display: none;
      margin: 5px 0px 5px 30px; } }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* PHOTO UPLOAD STYLES 
/******************************************/
.photowidget {
  display: block;
  position: relative; }
  .photowidget .photoinput {
    display: none; }
  .photowidget .photobox {
    height: 150px;
    width: 100%;
    background: transparent;
    display: block;
    margin: 10px auto;
    position: relative; }
    .photowidget .photobox img {
      height: 100%;
      width: auto; }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* REGISTER STYLES 
/******************************************/
.registerpage main {
  margin-top: 50px;
  min-height: calc(100vh - 100px);
  background: #ff2353;
  padding: 20px;
  display: table;
  width: 100%; }
  .registerpage main .registerbox {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%; }
    .registerpage main .registerbox .registerform {
      position: relative;
      height: 440px;
      border-radius: 25px;
      text-align: left;
      background: #fff;
      padding: 20px;
      width: 100%;
      max-width: 600px;
      margin: auto;
      overflow: hidden; }
      .registerpage main .registerbox .registerform b {
        font-size: 15px;
        display: block;
        text-align: center; }
      .registerpage main .registerbox .registerform input {
        border: none;
        border-bottom: 1px solid #ccc;
        font-family: hb-light;
        font-size: 15px;
        padding: 5px;
        margin: 5px 0;
        width: 100%; }
      .registerpage main .registerbox .registerform textarea {
        margin-top: 10px;
        font-family: hb-light;
        font-size: 15px;
        padding: 5px;
        border: 1px solid #ccc;
        width: 100%;
        resize: none;
        min-height: 200px; }
      .registerpage main .registerbox .registerform .avatarimg {
        display: none; }
      .registerpage main .registerbox .registerform button {
        font-size: 15px;
        color: #fff;
        font-family: hb-regular;
        background: #ff2353;
        border: 2px solid #FFF;
        border-radius: 25px;
        display: block;
        margin: 15px auto 0 auto;
        width: 240px;
        padding: 10px; }
      .registerpage main .registerbox .registerform .sliderbox {
        width: calc(200% - 40px);
        position: absolute;
        top: 20px;
        left: 20px;
        overflow-y: hidden;
        overflow-x: scroll; }
        .registerpage main .registerbox .registerform .sliderbox .firstpane {
          width: 50%;
          padding: 0 20px 0 0;
          height: 400px;
          display: inline-block;
          float: left; }
        .registerpage main .registerbox .registerform .sliderbox .secondpane {
          height: 400px;
          padding: 0 20px 0 0;
          width: 50%;
          display: inline-block;
          float: right;
          position: relative; }
          .registerpage main .registerbox .registerform .sliderbox .secondpane .photowidget {
            position: absolute;
            top: 40%;
            left: calc(50% - 10px);
            display: block;
            margin: auto;
            transform: translate(-50%, -50%);
            border: 1px dashed #ccc;
            padding: 0px 30px; }
          .registerpage main .registerbox .registerform .sliderbox .secondpane .back {
            border: 1px solid #ff2353;
            color: #ff2353;
            background: #fff;
            position: absolute;
            bottom: 80px;
            left: calc(50% - 10px);
            transform: translateX(-50%); }
          .registerpage main .registerbox .registerform .sliderbox .secondpane .submit {
            position: absolute;
            bottom: 20px;
            left: calc(50% - 10px);
            transform: translateX(-50%); }
