/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* TUTORIAL PAGE STYLES
/******************************************/

body.tutorialspage {
    background: #FFFFFF;

    video {
        margin-top: 55px;
        height: calc(100vh - 50px);
        width: 100%;
    }

}