.hamburger {
    position: fixed;
    top: 0px;
    right: 0px;
    border: none;
    padding: 15px;
    border-radius: 0;
    background: transparent;

    img {
        height: 30px;
        width: 30px;
        image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
        image-rendering: -moz-crisp-edges;          /* Firefox                        */
        image-rendering: -o-crisp-edges;            /* Opera                          */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
        image-rendering: pixelated; /* Chrome */
        image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+    */
    }

}

.modal-backdrop {
    &.in {
        opacity: 0;
    }
}

.menumodal {
    .modal-content {    
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 0 5px #777;
        border: none;
        position: relative;
    }
    .modal-body{
        padding: 0;

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        a {
            display: block;
            text-align: center;
            color: #ff2353;
            font-size: 17px;
            font-family: hb-light;
            letter-spacing: 2px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding: 15px;

            &:last-child {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }

            &:before {
                content: " ";
                position: relative;
                height: 17px;
                width: 17px;
                margin-right: 10px;
                background: #ff2353;
            }
        }
    }
}