.modal-backdrop {
    z-index: 19;
}

.registermodal {
    z-index: 20;

    .modal-header {
        text-align: center;
    
        img {
            width: 119px;
            height: 30px;
        }
    }

    .modal-body {

        input {
            border: none;
            border-bottom: 1px solid #ccc;
            font-size: 15px;
            width: 100%;
            margin-bottom: 10px;

            &[name="avatar"] {
                display: none;
            }
        }
        .thumbnail-container {
            height: 100px;
            width: 100px;
            background: url('/app/img/avatar.png') no-repeat center;
            background-size: cover;
            margin: auto;
            position: relative;

            .default {
                height: 100%;
                width: 100%;
            }
            
            .rotate {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100px;
                height: 100px;
            }

            #avatar {
                background: transparent;
            }
        }
        .pac-container {
            z-index: 2051 !important;
        }
    }
    .modal-footer {
       .confirmregister {
            background: #ff2353;
            border: 1px solid #fff;
            color: #fff;
        }
        .disclaimer {
            font-size: .8em;
            color: #ccc;
            margin-top: 10px;
        }
    }
}

.registernow {
    background: #fff;
    border: 1px solid #ff2353;
    position: absolute;
    color: #ff2353;
    bottom: 20px; left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 25px;
}