.navmenu {
    nav {
        position: fixed;
        top: 0; left: 0;
        height: 50px;
        width: 100%;
        background: #fff;
        box-shadow: 0 0 5px #000;
        z-index: 100;

        img {
            height: 30px;
            margin: 10px 20px 10px 15px;
        }

        .hamburger {
            float: right;
            border: none;
            background: transparent;
            padding: 11px 20px 9px 20px;

            img {
                height: 30px;
                width: 30px;
                margin: 0;
                image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
                image-rendering: -moz-crisp-edges;          /* Firefox                        */
                image-rendering: -o-crisp-edges;            /* Opera                          */
                image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
                image-rendering: pixelated; /* Chrome */
                image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
                -ms-interpolation-mode: nearest-neighbor;   /* IE8+    */
            }
        }
    }

    menu {
        position: fixed;
        top: 50px; left: 0;
        width: 100%;
        background: rgba(30, 30, 30, .9);
        margin: 0;
        padding: 0;
        display: none;
        z-index: 99;
        border-bottom: 2px solid #fff;

        ul {
            padding: 0;
            margin: 0px;

            li {
                border-top: 1px solid #999;
                list-style: none;
                text-align: center;
                display: block;
                line-height: 20px;

                &:first-child {
                    background: rgba(255, 35, 83, 1);
                }

                a {                
                    padding: 15px 0;
                    font-size: 17px;
                    font-family: hb-regular;                    
                    color: #fff;
                    display: block;

                    &:hover {
                        color: #ccc;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
