
.navmenu {
    nav {
        position: fixed;
        top: 0; left: 0;
        height: 50px;
        width: 100%;
        background: #fff;
        box-shadow: 0 0 5px #000;
        z-index: 100;

        img {
            height: 30px;
            margin: 10px 20px;
        }

        .hamburger {
            float: right;
            font-size: 26px;
            line-height: 26px;
            padding: 12px 20px;
            border: none;
            background: transparent;
            color: #ff2353;
        }
    }

    menu {
        position: fixed;
        top: 50px; left: 0;
        width: 100%;
        background: rgba(30, 30, 30, .9);
        margin: 0;
        padding: 0;
        display: none;
        z-index: 99;
        border-bottom: 2px solid #fff;

        ul {
            padding: 0;
            margin: 0px;

            li {
                border-top: 1px solid #999;
                list-style: none;
                color: #fff;
                text-align: center;
                display: block;
                padding: 15px 0;
                line-height: 20px;

                &:first-child {
                    background: rgba(255, 35, 83, 1);
                }

                a {
                    font-size: 20px;
                    font-family: hb-regular;                    
                    color: #fff;

                    &:hover {
                        color: #ccc;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
