.clientaddmodal {
    
    .clienteditsubmit {
        display: none;
        background: #ff2353;
        color: #fff;
        border: none;
    }

    .closeeditmodal {
        display: none;
        background: #fff;
        color: #000;
        border: 1px solid #ccc;
    }
}