header {
    height: 50px;
    width: 100%;
    background: #FFFFFF;
    position: fixed;
    top: 0px; left: 0px;
    box-shadow: 0px 0px 10px #ccc;
    z-index: 100;

    .headerlogo {
        width: 119px; height: 30px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
}