/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* MAIN STYLES
/******************************************/

main {
    position: absolute;
    top: 50px;
    overflow-y: hidden;
    overflow-x: hidden; 
    height: calc(100vh - 50px);
}