/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* NAV COMPONENT STYLES 
/******************************************/

nav {
    height: 50px;
    width: 100%;
    background: #FFFFFF;
    position: fixed;
    top: 0px; left: 0px;
    box-shadow: 0px 0px 10px #666;
    z-index: 100;

    .hamburger {
        float: left;
        border: none;
        background: transparent;
        padding: 12px 5px 8px 10px;

        img {
            height: 30px;
            width: 30px;
            margin: 0;
            image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
            image-rendering: -moz-crisp-edges;          /* Firefox                        */
            image-rendering: -o-crisp-edges;            /* Opera                          */
            image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
            image-rendering: pixelated; /* Chrome */
            image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
            -ms-interpolation-mode: nearest-neighbor;   /* IE8+    */
        }
    }

    .navmenu {
        position: absolute;
        top: 50%; left: 10px;
        transform: translateY(-50%);
        opacity: 1;
        font-size: 20px;
        color: #ff2353;
        line-height: 30px;
    }

    .navlogo {
        height: 30px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        z-index: 100;
    }

    .navsearch {
        position: absolute;
        right: 10px; top: 50%;
        transform: translateY(-50%);
        padding: 10px 0px 10px 10px;
        
        img {
            height: 30px;
            width: 30px;
        }
    }

    .searchfield {
        position: absolute;
        top: 50%; right: 10px;
        transform: translateY(-50%);
        border: none;
        padding: 5px 10px;
        font-size: 17px;
        color: #ff3253;
        width: 20px;
        background: transparent;
        display: block;

        &.open {
            width: calc(100vw - 50px);
            padding-right: 70px;
        }
    }
    
    .exitprofile, .cancelsearch {
        position: absolute;
        right: 10px; top: 50%;
        transform: translateY(-50%); 
        color: #ff3253;
        font-size: 17px;
        display: none;
        z-index: 100;
    }
}