/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* NAV COMPONENT STYLES 
/******************************************/

nav {
    height: 50px;
    width: 100%;
    background: #FFFFFF;
    position: fixed;
    top: 0px; left: 0px;
    box-shadow: 0px 0px 10px #666;
    z-index: 100;

    .navmenu {
        position: absolute;
        top: 50%; left: 10px;
        transform: translateY(-50%);
        color: #ff3253;
        font-size: 20px;
    }

    .navlogo {
        width: 119px; height: 30px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }

    .navsearch {
        img {
            position: absolute;
            right: 10px; top: 50%;
            transform: translateY(-50%);
        }
    }
}