.profilemodal {


    .modal-body {

        #profilephoto {
            height: 30px;
            width: 30px;
            margin: auto;
            border: 1px soild #000;
            display: block
        }

        #name {
            display: block
        }

        #phone {
            display: block
        }

        #email {
            display: block
        }

        #salon {
            display: block
        }

    }


}