/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: June 7th 2017
* Author: Charlie Hay
*
* STYLIST PROFILE STYLES
/******************************************/

// STYLIST MODAL //
.stylistmodal {


    // STYLIST PROFILE //
    .stylistprofile {
        font-family: hb-light;
        font-size: 15px;

        // STYLIST AVATAR //
        .avatar {
            height: 75px;
            width: 75px;
            display: block;
            margin: 5px auto;
            background-size: cover !important;
            border-radius: 50%;
            border: 1px solid #000;
        }

        .name {
            display: block;
        }

        .phone {
            color: #777;
            font-size: 13px;
        }

        .salon {
            display: block;
            font-size: 12px;
        }

        .ratingscontainer {

            img {
                height: 10px;
            }

            .rating {
                width: 250px;
                height: 50px;
                margin: 10px auto 0 auto;
                position: relative;

                .stargrid {
                    position: absolute;
                    top: 0; left: 0;
                    width: 250px;
                    height: 50px;
                    margin: auto;
                    z-index: 500;

                    img {
                        width: 50px;
                        height: 50px;
                        display: inline;
                    }
                }

                .starbar {
                    position: absolute;
                    top: 0; left: 0;
                    width: 250px;
                    height: 50px;
                    background: #FF2353;
                    z-index: 300;
                }
            }

            .comments {
                text-align: left;

                .starholder {
                    color: #ff2353;
                    font-size: 13px;
                    display: block;
                }

                .comment {
                    font-size: 13px;
                    display: block;
                    border-bottom: 1px solid #ccc;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}