<!-- ERROR MODAL -->
<div class="modal fade errormodal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img src="/app/img/hairbrain.svg" height="30">
            </div>
            <div class="modal-body">
                <p class="message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default dismiss" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>