<!-- COMMUNITY GROUP -->
<div class="group community">
    <b>Community</b>
    <a href="https://www.facebook.com/hairbrain.official/">Facebook</a>
    <a href="https://www.instagram.com/hairbrain.official/">Instagram</a>
</div>

<!-- LEGAL GROUP -->
<div class="group legal">
    <b>Legal</b>
    <a href="/learn/privacy/">Privacy Policy</a>
    <a href="/learn/terms/">Terms of Service</a>
</div>

<!-- CONTACT GROUP -->
<div class="group contact">
    <b>Contact</b>
    <a href="mailto:support@hairbrain.ca">support@hairbrain.ca</a>
    <a>803 Talbot St, London, ON</a>
</div>

<!-- BASE BAR -->
<div class="basebar">
    <span>&copy; 2017 Hairbrain</span>
</div>
