<!-- NAVIGATION BAR -->
<nav>

    <!-- HAMBURGER BUTTON -->
    <button class="hamburger"><img src="/app/img/menu.png"></button>

    <!-- HAIRBRAIN LOGO -->
    <a class="logo" href="/"><img src="/app/img/hairbrain.svg"></a>

</nav>

<!-- MENU -->
<menu>
    <ul>
        <!--<li><a href="/learn/about/">About</a></li>
        <li><a href="/learn/tutorials/">Tutorials</a></li>-->
        <li><a href="/learn/blog/">Blog</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/register/">Register</a></li>
        <li><a href="/">Log in</a></li>
    </ul>
    <div class="underlay"></div>
</menu>