@charset "UTF-8";
.navmenu nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 5px #000;
  z-index: 100; }
  .navmenu nav img {
    height: 30px;
    margin: 10px 20px 10px 15px; }
  .navmenu nav .hamburger {
    float: right;
    border: none;
    background: transparent;
    padding: 11px 20px 9px 20px; }
    .navmenu nav .hamburger img {
      height: 30px;
      width: 30px;
      margin: 0;
      image-rendering: optimizeSpeed;
      /* STOP SMOOTHING, GIVE ME SPEED  */
      image-rendering: -moz-crisp-edges;
      /* Firefox                        */
      image-rendering: -o-crisp-edges;
      /* Opera                          */
      image-rendering: -webkit-optimize-contrast;
      /* Chrome (and eventually Safari) */
      image-rendering: pixelated;
      /* Chrome */
      image-rendering: optimize-contrast;
      /* CSS3 Proposed                  */
      -ms-interpolation-mode: nearest-neighbor;
      /* IE8+    */ }

.navmenu menu {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  background: rgba(30, 30, 30, 0.9);
  margin: 0;
  padding: 0;
  display: none;
  z-index: 99;
  border-bottom: 2px solid #fff; }
  .navmenu menu ul {
    padding: 0;
    margin: 0px; }
    .navmenu menu ul li {
      border-top: 1px solid #999;
      list-style: none;
      text-align: center;
      display: block;
      line-height: 20px; }
      .navmenu menu ul li:first-child {
        background: #ff2353; }
      .navmenu menu ul li a {
        padding: 15px 0;
        font-size: 17px;
        font-family: hb-regular;
        color: #fff;
        display: block; }
        .navmenu menu ul li a:hover {
          color: #ccc;
          cursor: pointer; }

.footerlinks .group {
  display: inline-block;
  width: 33%;
  min-width: 200px;
  background: #fff;
  text-align: center;
  padding: 5px 0; }
  .footerlinks .group b {
    display: block;
    font-family: hb-bold;
    padding: 10px;
    font-size: 1.2em; }
  .footerlinks .group a {
    display: block;
    color: #666; }
    .footerlinks .group a:hover {
      color: #ccc; }

.footerlinks .basebar {
  display: block;
  background: #333;
  padding: 10px 20px;
  margin-top: 10px; }
  .footerlinks .basebar span {
    color: #fff; }

@media (max-width: 768px) {
  .footerlinks .group {
    width: 100%;
    border-top: 1px solid #ccc;
    text-align: left; }
    .footerlinks .group b:before {
      content: '>';
      font-size: .8em;
      margin: 0px 5px; }
    .footerlinks .group a {
      display: none;
      margin: 5px 0px 5px 30px; } }

.motionad {
  height: calc(100vh - 50px);
  min-height: 400px;
  overflow: hidden;
  position: relative;
  background: #000; }
  .motionad .container {
    height: 100%;
    width: 100%;
    background: url("/app/img/salon1.png") no-repeat center;
    background-size: cover;
    padding: 0;
    position: relative;
    display: none; }
    .motionad .container section {
      display: table;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      position: relative; }
      .motionad .container section .motiontitle {
        display: none;
        text-align: center;
        vertical-align: middle;
        padding-top: 40px; }
        .motionad .container section .motiontitle span {
          color: #fff;
          font-size: 1.5em;
          display: block;
          margin-bottom: 20px; }
        .motionad .container section .motiontitle img {
          width: 100%;
          max-width: 400px;
          margin: auto;
          display: block; }
        .motionad .container section .motiontitle a {
          display: inline-block;
          opacity: 0;
          width: 50%;
          padding: 7px 10px;
          margin: 10px;
          width: 90%;
          max-width: 175px;
          color: #fff;
          border: 1px solid #fff;
          border-radius: 5px;
          font-size: 15px;
          font-family: hb-bold; }
          .motionad .container section .motiontitle a.login {
            background: #ff2353; }
            .motionad .container section .motiontitle a.login:hover, .motionad .container section .motiontitle a.login:active {
              background: rgba(0, 0, 0, 0.7);
              border: 1px solid #ff2353;
              color: #ff2353; }
          .motionad .container section .motiontitle a.learnmore {
            background: #fff;
            color: #ff2353;
            border: 1px solid #ff2353; }
            .motionad .container section .motiontitle a.learnmore:hover, .motionad .container section .motiontitle a.learnmore:active {
              background: rgba(0, 0, 0, 0.7); }
      .motionad .container section .register {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        text-shadow: 0 0 10px #000;
        color: #fff;
        font-size: 14px;
        display: inline-block;
        text-align: center;
        opacity: 0; }
        .motionad .container section .register a {
          color: #ff2353;
          display: inline-block; }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* ABOUT PAGE STYLES
/******************************************/
