@charset "UTF-8";
/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: June 6th 2017
* Author: Charlie Hay
*
* NAV MENU STYLES 
/******************************************/
.navmenu nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 5px #000;
  z-index: 100; }
  .navmenu nav .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .navmenu nav .logo img {
      height: 30px;
      margin: 10px 0px 10px 0px; }
  .navmenu nav .hamburger {
    float: left;
    border: none;
    background: transparent;
    padding: 12px 5px 8px 20px; }
    .navmenu nav .hamburger img {
      height: 30px;
      width: 30px;
      margin: 0;
      image-rendering: optimizeSpeed;
      /* STOP SMOOTHING, GIVE ME SPEED  */
      image-rendering: -moz-crisp-edges;
      /* Firefox                        */
      image-rendering: -o-crisp-edges;
      /* Opera                          */
      image-rendering: -webkit-optimize-contrast;
      /* Chrome (and eventually Safari) */
      image-rendering: pixelated;
      /* Chrome */
      image-rendering: optimize-contrast;
      /* CSS3 Proposed                  */
      -ms-interpolation-mode: nearest-neighbor;
      /* IE8+    */ }
  .navmenu nav .login {
    float: right;
    font-size: 15px;
    font-family: hb-black;
    padding: 17px 20px 12px 10px;
    color: #ff2353; }

.navmenu menu {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100vh-50px);
  background: transparent;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 99;
  border-bottom: 2px solid #ff2353;
  box-shadow: 0 0 5px #000; }
  .navmenu menu .underlay {
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.6); }
  .navmenu menu ul {
    padding: 0;
    margin: 0px;
    border-bottom: 2px solid #fff; }
    .navmenu menu ul li {
      border-top: 1px solid #999;
      list-style: none;
      text-align: center;
      display: block;
      line-height: 20px;
      background: white; }
      .navmenu menu ul li:last-child {
        background: #ff2353; }
        .navmenu menu ul li:last-child a {
          color: #fff; }
      .navmenu menu ul li a {
        padding: 15px 0;
        font-size: 15px;
        font-family: hb-bold;
        color: #ff2353;
        display: block; }
        .navmenu menu ul li a:hover {
          color: #999;
          cursor: pointer; }

@media (max-width: 768px) {
  .navmenu nav .hamburger {
    padding: 12px 5px 8px 10px; }
  .navmenu nav .login {
    padding: 17px 10px 12px 10px; } }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* FOOTER LINKS STYLES 
/******************************************/
.footerlinks .group {
  display: inline-block;
  width: 33%;
  min-width: 200px;
  background: #fff;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 15px; }
  .footerlinks .group b {
    display: block;
    font-family: hb-bold;
    padding: 10px;
    font-size: 1.2em; }
  .footerlinks .group a {
    display: block;
    color: #666; }
    .footerlinks .group a:hover {
      color: #ccc; }

.footerlinks .basebar {
  padding: 0 20px;
  color: #fff;
  height: 30px;
  background: #333;
  line-height: 30px;
  font-size: 13px; }
  .footerlinks .basebar img {
    height: 30px; }

@media (max-width: 768px) {
  .footerlinks .group {
    width: 100%;
    border-top: 1px solid #ccc;
    text-align: left;
    margin-bottom: 0; }
    .footerlinks .group b:before {
      content: '>';
      font-size: .8em;
      margin: 0px 5px; }
    .footerlinks .group a {
      display: none;
      margin: 5px 0px 5px 30px; } }

.aboutpage {
  overflow-x: hidden; }
  .aboutpage img.hairrow {
    width: 100%;
    border: 1px; }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* ABOUT PAGE BANNER STYLES
/******************************************/
.banner {
  width: 100vw;
  height: calc(90vh - 50px);
  min-height: 300px;
  margin-top: 50px;
  background: url("/app/img/bannercover.png") no-repeat center;
  background-size: cover;
  display: table; }
  .banner .cta {
    padding: 0;
    width: 50vw;
    height: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
    .banner .cta span img {
      height: 50px;
      padding: 5px; }
    .banner .cta span b {
      font-family: hairbrain;
      color: #fff;
      display: block; }
      .banner .cta span b.reinventing {
        font-size: 6.6rem;
        line-height: 5.3rem; }
      .banner .cta span b.haircuts {
        font-size: 8.5rem;
        line-height: 7rem; }
    .banner .cta span p {
      font-family: hairbrain;
      color: #fff;
      font-size: 2rem;
      letter-spacing: 1px;
      line-height: 2.5rem;
      padding-top: 10px;
      margin-bottom: 50px; }
    .banner .cta span a.download {
      color: #ff2353;
      font-family: hb-black;
      font-size: 17px;
      background: #fff;
      padding: 20px 30px;
      border-radius: 15px; }
      .banner .cta span a.download:hover {
        cursor: pointer; }
  .banner .promo {
    position: relative;
    width: 50vw;
    height: 100%;
    float: right;
    display: block; }
    .banner .promo img.phonead {
      position: absolute;
      bottom: -60px;
      left: 0; }

@media (max-width: 942px) {
  .banner .cta {
    padding: 40px 0;
    height: 430px;
    width: 100%;
    display: block; }
    .banner .cta span img {
      height: 50px;
      padding: 5px; }
    .banner .cta span b.reinventing {
      font-size: 4.6rem;
      line-height: 3.3rem; }
    .banner .cta span b.haircuts {
      font-size: 5.9rem;
      line-height: 5rem; }
    .banner .cta span p {
      font-size: 1.5rem;
      letter-spacing: 1px;
      line-height: 1.8rem;
      padding-top: 5px;
      margin-bottom: 30px; }
    .banner .cta span a.download {
      font-size: 14px;
      padding: 15px 20px; }
  .banner .promo {
    height: 200px;
    width: 100%;
    float: none; }
    .banner .promo img.phonead {
      height: 350px;
      left: 50%;
      transform: translate(-50%); } }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* ABOUT PAGE INFOBOX STYLES
/******************************************/
.infobox {
  display: block;
  text-align: center;
  padding: 80px 20px 40px 20px;
  background: url("/app/img/infoboxcover.png") no-repeat center;
  background-size: cover; }
  .infobox span.title {
    color: #ff2353;
    font-family: hairbrain;
    font-size: 30px; }
  .infobox p.description {
    padding: 20px;
    color: #666;
    font-family: hb-regular;
    font-size: 20px; }
  .infobox img {
    max-width: 90%;
    display: block;
    margin: 20px auto; }
  .infobox a.findlink {
    display: block;
    background: #ff2353;
    border-radius: 15px;
    width: 175px;
    padding: 20px;
    color: #fff;
    font-family: hb-bold;
    margin: 20px auto; }

.stylistbox {
  position: relative;
  background: url("/app/img/hairbox.png") repeat center;
  background-size: contain;
  overflow: hidden;
  padding: 60px 20px 80px 20px;
  border-top: 30px solid #ff2353;
  border-bottom: 30px solid #ff2353;
  text-align: center; }
  .stylistbox span.title {
    color: #fff;
    font-family: hairbrain;
    font-size: 70px;
    line-height: 70px;
    z-index: 1;
    display: block;
    text-align: center;
    text-shadow: -3px  3px #000, -3px -3px #000, 3px  3px #000, 3px -3px #000; }
  .stylistbox p {
    color: #fff;
    display: block;
    text-align: center;
    text-shadow: -2px  2px #000, -2px -2px #000, 2px  2px #000, 2px -2px #000; }
    .stylistbox p.tagline {
      padding: 20px;
      font-family: hb-black;
      font-size: 30px;
      text-transform: uppercase; }
    .stylistbox p.description {
      padding: 0 0 20px 0;
      font-family: hb-regular;
      font-size: 25px;
      margin-bottom: 40px; }
  .stylistbox a.download {
    color: #fff;
    font-family: hb-black;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
    border-radius: 15px;
    border: 1px solid #fff; }
    .stylistbox a.download:hover {
      cursor: pointer; }
