@charset "UTF-8";
.navmenu nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 5px #000;
  z-index: 100; }
  .navmenu nav img {
    height: 30px;
    margin: 10px 20px; }
  .navmenu nav .hamburger {
    float: right;
    font-size: 26px;
    line-height: 26px;
    padding: 12px 20px;
    border: none;
    background: transparent;
    color: #ff2353; }

.navmenu menu {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  background: rgba(30, 30, 30, 0.9);
  margin: 0;
  padding: 0;
  display: none;
  z-index: 99;
  border-bottom: 2px solid #fff; }
  .navmenu menu ul {
    padding: 0;
    margin: 0px; }
    .navmenu menu ul li {
      border-top: 1px solid #999;
      list-style: none;
      color: #fff;
      text-align: center;
      display: block;
      padding: 15px 0;
      line-height: 20px; }
      .navmenu menu ul li:first-child {
        background: #ff2353; }
      .navmenu menu ul li a {
        font-size: 20px;
        font-family: hb-regular;
        color: #fff; }
        .navmenu menu ul li a:hover {
          color: #ccc;
          cursor: pointer; }

/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* BLOG PAGE STYLES
/******************************************/
iframe {
  height: 99vh;
  width: 100%;
  overflow: hidden; }
