@charset "UTF-8";
/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* PRIVACY STYLES 
/******************************************/
.privacypage {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; }
  .privacypage .privacy {
    padding: 10px; }
    .privacypage .privacy img {
      display: block;
      margin: auto; }
    .privacypage .privacy #ppBody {
      font-size: 11pt;
      width: 100%;
      margin: 0 auto;
      text-align: justify; }
    .privacypage .privacy #ppHeader {
      font-family: verdana;
      font-size: 21pt;
      width: 100%;
      margin: 0 auto;
      text-align: center; }
    .privacypage .privacy .ppConsistencies {
      display: none; }
