.mappage {

    margin-top: 50px;
    overflow-y: hidden;

    #map {
        height: calc(100vh - 50px);
        position: relative;
    }
}

@media (max-width: 768px) {

    .mappage {
        margin-top: 50px;
        overflow-y: hidden;

        #map {
            height: calc(100vh - 50px);
        }
    }

    .footerlinks {
        display: none;
    }
}