/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* ABOUT PAGE INFOBOX STYLES
/******************************************/

.infobox {
    display: block;
    text-align: center;
    padding: 40px 20px;
    background: url('/app/img/infoboxcover.png') no-repeat center;
    background-size: cover;

    span.title {
        color: #ff2353;
        font-family: hairbrain;
        font-size: 30px;
    }

    p.description {
        padding: 20px;
        color: #666;
        font-family: hb-regular;
        font-size: 20px;
    }

    img {
        max-width: 90%;
        display: block;
        margin: 20px auto;
    }
    a.findlink {
        display: block;
        background: #ff2353;
        border-radius: 15px;
        width: 175px;
        padding: 20px;
        color: #fff;
        font-family: hb-bold;
        margin: 20px auto;
    }
}