/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* BLOG PAGE STYLES
/******************************************/

.blogpage {
    background: #ff2353;

    // TUMBLR IFRAME //
    object {
        width: 100vw;
        max-width: 800px;
        display: block;
        margin: auto;
        min-height: 2000px;
        overflow: hidden;
    }
}
