/*******************************************
* © 2017 Hairbrain inc.
* ---------------------
* Created: February 11th 2017
* Last Modified: March 21st 2017
* Author: Charlie Hay
*
* TERMS PAGE STYLES
/******************************************/

// TERMS PAGE //
.termspage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    // TERMS // 
    .terms {
        padding: 10px;

        // TERMS LOGO //
        img {
            display: block;
            margin: auto;
        }
        
        // TERMS HEADER //
        #ppHeader {
            font-family:verdana;
            font-size:21pt;
            width:100%;
            margin:0 auto;
            text-align: center;
        }
    }    
}
